/*Container dos cards*/
.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 40px;
    padding-bottom: 20px;
    place-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin: auto;
    width: 70vw;
    align-items: stretch;

}

.card {
    background: #111;
    width: 280px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
    padding: 20px;
    text-align: center;
    transition: 0.3s ease;
    color: white;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-5px) scale(1.04);
    box-shadow: 0 0 18px rgba(255, 205, 97, 0.3);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.card h2 {
    margin: 10px 0;
    font-size: 1.3rem;
}

.preco {
    font-size: 18px;
    font-weight: bold;
    color: #27ae60;
    margin: 10px 0;
}

.descricao {
    font-size: 0.95rem;
    color: #ccc;
    flex-grow: 1;
    margin: 10px 0;
    text-align: justify;
}