/*Título*/
.contatos-titulo{
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    list-style: none;
}

/*Texto dos Contatos*/
.texto-contatos{
    padding-left: 5%;
    color: white;
}

.titulo_h3 {
    padding-left: 3%;
    color: white;
}

/*Formulário*/
form{
    margin-top: 40px;
    margin-left: 20%;
    margin-bottom: 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    color: white;
}

fieldset{
    width: 75%;
    padding-left: 5%;
    margin-bottom: 2%;
    padding-right: 5%;
    color: white;
}


.chk{
    margin: 20px 0;
}



input, textarea, select {
  width: 100%;
  padding: 12px 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #111;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus, 
input[type="number"]:focus, 
textarea:focus, select:focus{
  border-color: #ffcd61; /* cor do destaque */
  outline: none;
  background-color: #1a1a1a;
  box-shadow: 0 0 5px #ffcd61;
}

.radio-group label {
    display: inline-flex;
    align-items: center;
    gap: 0.15rem;
    color: #fff;
    cursor: pointer;
    padding-inline: 5%;
    padding-top: 2%;
}

.checklabel {
    display: inline; /* Faz com que os itens dentro do label se alinhem na mesma linha */
    align-items: center; /* Alinha o checkbox e o texto verticalmente ao centro */
    margin-bottom: 10%; /* Adiciona um espaço entre o checkbox e o botão "Enviar" */
    color: #fff; /* Garante que o texto seja branco, como o resto do formulário */
    margin-bottom: 2%;
}

.checklabel input[type="checkbox"] {
    margin: 15px 0px 0px 0px;
    padding: 0;
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 0.5rem;
}

.enviar {
    display: block;
    width:20%;
    padding: 15px 0;
    margin-bottom: 2%;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: Is all;
    cursor: pointer;
    margin-top: 30px;
}

.enviar:hover {
    background: #ffcd61;
    /*transform: scale(1.2);*/
}

/*Div do retorno do formulário*/
.divRetorno{
    display: none;
    margin-bottom: 15px;
    margin-left: 30px;
}

.divRetorno p {
    font-size: 24px;
    color: #fff;
}